---
---

<section
  id="home"
  aria-label="Hero"
  class="nebula-bg hero-section"
>
  <canvas aria-hidden="true" class="star-canvas"></canvas>
  <div class="glow-orb glow-cyan" aria-hidden="true"></div>
  <div class="glow-orb glow-purple" aria-hidden="true"></div>

  <div class="hero-content">

    <p class="company-name">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1254 1764" fill="currentColor" class="company-logo">
        <path d="M458,1444 L458,1586 L461,1593 L467,1599 L474,1602 L786,1602 L793,1599 L799,1593 L802,1586 L802,1444 L799,1437 L793,1431 L786,1428 L474,1428 L467,1431 L461,1437 Z M473,1446 L476,1443 L784,1443 L787,1446 L787,1584 L784,1587 L476,1587 L473,1584 Z M725,1470 L723,1472 L721,1472 L716,1475 L709,1483 L706,1489 L702,1505 L702,1524 L706,1540 L709,1546 L713,1551 L722,1558 L725,1559 L731,1559 L734,1558 L744,1551 L744,1549 L747,1546 L750,1540 L752,1534 L752,1530 L754,1528 L753,1525 L755,1523 L755,1506 L753,1504 L754,1501 L752,1499 L750,1489 L744,1479 L740,1475 L735,1472 L733,1472 L731,1470 Z M727,1486 L731,1487 L734,1490 L737,1496 L739,1506 L739,1523 L737,1533 L734,1539 L729,1543 L727,1543 L723,1540 L722,1537 L719,1533 L717,1523 L717,1506 L719,1496 L722,1492 L723,1489 Z M667,1470 L667,1559 L682,1559 L681,1470 Z M617,1470 L615,1472 L611,1473 L602,1482 L598,1489 L594,1507 L594,1523 L597,1537 L602,1547 L614,1558 L617,1559 L624,1559 L630,1556 L639,1548 L639,1546 L641,1544 L643,1538 L645,1536 L648,1522 L648,1507 L647,1501 L645,1499 L646,1496 L645,1493 L643,1491 L643,1489 L639,1482 L630,1473 L626,1472 L624,1470 Z M619,1486 L622,1486 L626,1488 L626,1490 L628,1492 L631,1500 L632,1507 L632,1522 L631,1529 L628,1538 L626,1541 L622,1543 L619,1543 L612,1535 L609,1522 L609,1507 L610,1500 L612,1494 Z M561,1471 L560,1472 L559,1558 L575,1559 L574,1470 Z M507,1471 L505,1473 L505,1558 L521,1559 L520,1470 Z M553,690 L515,698 L473,711 L470,713 L460,716 L453,720 L451,720 L427,732 L425,734 L418,737 L408,744 L405,745 L381,762 L357,782 L324,816 L297,852 L296,855 L288,867 L285,874 L283,876 L276,890 L276,892 L273,897 L273,899 L270,904 L267,914 L265,917 L259,935 L253,958 L247,993 L245,1015 L245,1063 L249,1100 L258,1140 L265,1162 L269,1170 L270,1175 L285,1207 L287,1209 L289,1214 L291,1216 L292,1219 L303,1236 L321,1259 L350,1288 L376,1309 L401,1326 L404,1327 L416,1335 L427,1340 L429,1342 L445,1350 L447,1350 L461,1357 L463,1357 L471,1361 L476,1362 L479,1364 L507,1373 L546,1382 L572,1386 L608,1389 L648,1389 L665,1388 L710,1382 L752,1372 L780,1363 L783,1361 L785,1361 L788,1359 L793,1358 L803,1353 L805,1353 L810,1350 L812,1350 L821,1345 L823,1345 L856,1327 L884,1308 L901,1294 L930,1264 L946,1243 L952,1234 L953,1231 L957,1226 L958,1223 L960,1221 L963,1214 L965,1212 L979,1183 L979,1181 L983,1173 L984,1168 L986,1165 L993,1144 L1003,1101 L1007,1067 L1007,1013 L1006,1001 L1002,973 L993,935 L988,920 L986,917 L984,909 L981,904 L979,897 L967,872 L965,870 L962,863 L960,861 L956,853 L944,835 L927,813 L895,780 L879,766 L857,749 L842,739 L830,733 L828,731 L794,715 L792,715 L784,711 L779,710 L776,708 L764,704 L730,695 L697,689 L660,685 L614,684 L584,686 Z M526,711 L563,704 L602,700 L653,700 L667,701 L700,705 L739,713 L771,723 L774,725 L779,726 L782,728 L789,730 L794,733 L796,733 L824,747 L826,749 L834,753 L849,763 L878,786 L907,814 L927,838 L937,852 L938,855 L950,873 L965,903 L965,905 L968,910 L969,915 L971,918 L972,923 L974,926 L983,956 L989,987 L992,1014 L992,1066 L989,1093 L985,1114 L979,1138 L971,1162 L969,1165 L969,1167 L967,1170 L965,1177 L961,1184 L961,1186 L947,1213 L930,1239 L913,1260 L890,1283 L866,1302 L851,1312 L843,1316 L841,1318 L810,1334 L808,1334 L801,1338 L799,1338 L794,1341 L792,1341 L779,1347 L774,1348 L771,1350 L742,1359 L702,1368 L663,1373 L646,1374 L609,1374 L583,1372 L548,1367 L510,1358 L491,1352 L488,1350 L477,1347 L474,1345 L472,1345 L467,1342 L465,1342 L460,1339 L458,1339 L428,1324 L426,1322 L411,1314 L403,1308 L400,1307 L369,1284 L340,1257 L319,1232 L303,1208 L289,1181 L289,1179 L286,1174 L286,1172 L280,1159 L275,1144 L265,1104 L260,1064 L260,1016 L264,981 L270,952 L280,920 L282,917 L284,910 L287,905 L287,903 L294,890 L295,886 L297,884 L300,877 L302,875 L304,870 L310,862 L313,856 L336,826 L365,796 L391,774 L420,754 L449,738 L451,738 L460,733 L462,733 L467,730 L469,730 L477,726 L504,717 Z M745,767 L740,768 L718,791 L708,799 L695,808 L680,816 L678,818 L672,821 L670,821 L652,830 L636,835 L633,837 L593,848 L560,854 L521,858 L494,859 L446,858 L414,856 L403,854 L392,854 L377,864 L366,874 L355,886 L341,905 L340,908 L335,915 L323,939 L322,944 L318,952 L313,967 L308,987 L305,1004 L303,1023 L303,1061 L306,1089 L310,1109 L315,1128 L321,1146 L327,1159 L327,1161 L332,1170 L332,1172 L334,1176 L336,1178 L344,1194 L359,1216 L377,1238 L403,1264 L422,1280 L452,1301 L455,1302 L462,1307 L469,1310 L471,1312 L489,1321 L491,1321 L496,1324 L498,1324 L511,1330 L532,1337 L551,1342 L585,1348 L609,1350 L644,1350 L674,1347 L705,1341 L735,1332 L738,1330 L740,1330 L751,1325 L753,1325 L760,1321 L762,1321 L791,1306 L793,1304 L801,1300 L819,1288 L848,1265 L864,1250 L887,1224 L902,1203 L903,1200 L911,1188 L921,1168 L921,1166 L924,1161 L924,1159 L928,1151 L929,1146 L931,1143 L938,1120 L944,1091 L947,1064 L947,1025 L944,999 L937,969 L932,954 L928,946 L928,944 L924,937 L924,935 L918,923 L916,921 L914,916 L910,911 L909,908 L898,893 L886,880 L869,875 L851,866 L849,866 L847,864 L835,858 L812,842 L798,830 L783,815 L763,791 L753,776 L751,771 Z M743,789 L757,808 L774,828 L787,841 L801,853 L822,868 L825,869 L830,873 L837,876 L839,878 L847,882 L849,882 L856,886 L863,888 L866,890 L877,893 L884,900 L891,909 L902,926 L910,941 L910,943 L914,950 L914,952 L918,960 L923,975 L929,1001 L932,1024 L932,1065 L929,1090 L924,1114 L915,1143 L913,1146 L911,1153 L908,1158 L908,1160 L892,1190 L876,1213 L859,1233 L836,1255 L812,1274 L791,1288 L788,1289 L781,1294 L774,1297 L772,1299 L737,1315 L726,1318 L723,1320 L710,1324 L679,1331 L641,1335 L612,1335 L587,1333 L554,1327 L535,1322 L520,1317 L517,1315 L512,1314 L502,1309 L500,1309 L474,1296 L472,1294 L462,1289 L437,1272 L416,1255 L387,1226 L376,1213 L359,1189 L358,1186 L353,1179 L349,1170 L347,1168 L346,1164 L341,1155 L341,1153 L336,1143 L333,1132 L331,1129 L328,1119 L321,1089 L318,1064 L318,1022 L320,1005 L323,989 L328,970 L332,958 L338,945 L338,943 L347,925 L362,902 L380,882 L396,869 L441,873 L464,874 L507,874 L537,872 L563,869 L605,861 L627,855 L648,848 L651,846 L656,845 L690,829 L692,827 L697,825 L702,821 L705,820 L723,807 Z M563,1157 L563,1168 L565,1181 L568,1190 L570,1193 L570,1195 L572,1197 L574,1202 L586,1215 L592,1219 L600,1223 L614,1227 L624,1228 L639,1227 L654,1223 L664,1218 L676,1207 L681,1200 L685,1192 L688,1183 L690,1173 L690,1156 L686,1152 L680,1152 L676,1156 L675,1174 L673,1182 L670,1187 L670,1189 L668,1191 L667,1194 L657,1204 L646,1210 L638,1212 L630,1213 L616,1212 L608,1210 L598,1205 L593,1201 L587,1194 L582,1185 L578,1170 L578,1157 L577,1155 L573,1152 L567,1152 Z M752,944 L745,946 L735,952 L729,959 L723,970 L720,980 L718,992 L717,1005 L718,1030 L722,1049 L729,1063 L739,1073 L745,1076 L753,1078 L763,1078 L770,1076 L780,1070 L784,1066 L790,1057 L790,1055 L793,1050 L795,1043 L798,1023 L798,999 L796,983 L792,969 L785,957 L778,950 L771,946 L764,944 Z M753,959 L762,959 L765,960 L775,969 L780,980 L783,998 L783,1024 L782,1033 L779,1045 L775,1053 L768,1060 L761,1063 L754,1063 L747,1060 L741,1054 L738,1049 L738,1047 L735,1041 L732,1022 L732,1001 L733,991 L736,978 L741,968 L747,962 Z M490,944 L483,946 L476,950 L468,958 L462,969 L459,978 L456,997 L456,1025 L459,1044 L462,1053 L468,1064 L475,1071 L484,1076 L491,1078 L501,1078 L511,1075 L516,1072 L524,1064 L530,1053 L534,1039 L536,1026 L536,996 L533,978 L530,969 L524,958 L516,950 L509,946 L502,944 Z M492,959 L500,959 L503,960 L511,966 L516,974 L516,976 L518,979 L521,995 L521,1027 L518,1042 L516,1048 L511,1056 L505,1061 L500,1063 L493,1063 L489,1062 L481,1056 L475,1046 L471,1027 L471,995 L474,980 L476,974 L480,967 L484,963 Z M461,548 L458,550 L456,550 L453,552 L446,554 L437,559 L435,559 L415,569 L413,571 L401,577 L399,579 L396,580 L391,584 L388,585 L373,595 L347,615 L331,629 L306,654 L292,670 L278,688 L257,719 L255,724 L250,731 L246,740 L244,742 L227,778 L227,780 L221,793 L217,807 L215,810 L208,833 L201,862 L198,878 L198,883 L196,889 L196,895 L195,897 L174,898 L163,901 L155,905 L151,908 L142,918 L141,921 L139,923 L139,925 L137,928 L134,941 L134,1074 L135,1080 L138,1089 L144,1099 L152,1107 L158,1111 L162,1112 L165,1114 L173,1116 L197,1116 L199,1118 L201,1127 L201,1131 L208,1157 L215,1178 L217,1181 L217,1183 L219,1186 L219,1188 L223,1196 L223,1198 L226,1203 L226,1205 L245,1242 L247,1244 L251,1252 L263,1270 L272,1282 L268,1297 L267,1305 L267,1320 L269,1332 L271,1339 L273,1342 L273,1344 L279,1356 L286,1365 L286,1371 L282,1391 L282,1427 L283,1434 L288,1451 L294,1462 L300,1470 L311,1481 L327,1493 L330,1494 L337,1499 L344,1502 L346,1504 L356,1509 L358,1509 L367,1514 L369,1514 L372,1516 L374,1516 L379,1519 L384,1520 L387,1522 L419,1532 L419,1516 L396,1509 L393,1507 L391,1507 L380,1502 L378,1502 L347,1487 L345,1485 L342,1484 L340,1482 L331,1477 L322,1470 L311,1459 L304,1449 L298,1432 L296,1416 L297,1390 L298,1383 L299,1381 L301,1380 L308,1386 L320,1394 L327,1397 L329,1399 L339,1404 L341,1404 L350,1409 L352,1409 L360,1413 L365,1414 L368,1416 L396,1425 L419,1431 L419,1415 L399,1410 L374,1402 L371,1400 L369,1400 L358,1395 L356,1395 L347,1390 L345,1390 L320,1376 L312,1370 L296,1354 L287,1339 L283,1326 L282,1320 L282,1304 L284,1297 L311,1325 L334,1344 L336,1345 L341,1345 L346,1339 L346,1336 L344,1332 L326,1318 L303,1295 L286,1275 L266,1247 L265,1244 L257,1232 L255,1227 L253,1225 L236,1190 L236,1188 L232,1180 L231,1175 L229,1172 L222,1151 L216,1129 L211,1105 L208,1085 L205,1043 L205,951 L206,934 L210,900 L218,859 L228,822 L232,810 L234,807 L235,802 L237,799 L238,794 L243,784 L243,782 L259,749 L261,747 L264,740 L266,738 L273,725 L296,692 L316,668 L344,640 L359,627 L381,610 L399,598 L412,591 L414,589 L443,574 L445,574 L452,570 L454,570 L459,567 L461,567 L469,563 L474,562 L477,560 L505,551 L534,544 L569,538 L598,535 L639,534 L674,536 L705,540 L725,544 L756,552 L777,559 L780,561 L790,564 L793,566 L795,566 L827,581 L829,583 L838,587 L840,589 L845,591 L855,598 L858,599 L882,616 L905,635 L929,658 L951,683 L969,707 L981,725 L985,733 L987,735 L989,740 L991,742 L995,751 L997,753 L1000,759 L1000,761 L1008,776 L1008,778 L1016,795 L1017,800 L1019,803 L1029,833 L1037,864 L1044,901 L1048,938 L1049,955 L1049,1039 L1046,1081 L1043,1103 L1034,1143 L1024,1174 L1022,1177 L1021,1182 L1016,1192 L1016,1194 L1012,1201 L1012,1203 L1002,1223 L1000,1225 L998,1230 L996,1232 L991,1242 L985,1250 L984,1253 L968,1275 L951,1295 L930,1316 L909,1333 L908,1335 L908,1340 L909,1342 L913,1345 L918,1345 L943,1325 L969,1298 L971,1303 L971,1322 L967,1337 L962,1347 L954,1358 L940,1371 L927,1380 L902,1393 L900,1393 L895,1396 L893,1396 L885,1400 L880,1401 L877,1403 L865,1407 L859,1408 L852,1411 L845,1412 L841,1414 L841,1429 L844,1429 L865,1423 L886,1416 L889,1414 L894,1413 L902,1409 L904,1409 L932,1395 L934,1393 L943,1388 L953,1380 L955,1383 L957,1406 L956,1426 L952,1443 L945,1456 L933,1469 L920,1479 L909,1485 L907,1487 L876,1502 L874,1502 L866,1506 L861,1507 L858,1509 L841,1514 L841,1530 L867,1522 L870,1520 L875,1519 L880,1516 L887,1514 L896,1509 L898,1509 L910,1503 L912,1501 L927,1493 L938,1485 L946,1478 L956,1467 L965,1451 L965,1449 L967,1446 L971,1427 L971,1391 L967,1366 L975,1355 L980,1345 L984,1333 L986,1321 L986,1302 L984,1291 L981,1283 L991,1270 L1001,1255 L1005,1247 L1009,1242 L1027,1207 L1027,1205 L1031,1198 L1031,1196 L1035,1188 L1036,1183 L1038,1180 L1046,1156 L1051,1137 L1054,1121 L1056,1116 L1080,1116 L1091,1113 L1104,1105 L1111,1097 L1116,1088 L1119,1078 L1120,1071 L1120,945 L1119,936 L1117,929 L1115,926 L1115,924 L1112,920 L1111,917 L1100,906 L1097,905 L1093,902 L1079,898 L1060,898 L1058,896 L1056,878 L1048,841 L1042,820 L1034,796 L1029,785 L1029,783 L1026,778 L1026,776 L1023,771 L1023,769 L1018,760 L1018,758 L1000,724 L980,693 L968,677 L945,650 L914,620 L881,594 L863,582 L850,575 L848,573 L815,556 L813,556 L801,550 L799,550 L791,546 L780,543 L777,541 L758,535 L716,525 L682,520 L657,518 L602,518 L578,520 L549,524 L500,535 L469,545 L466,547 Z M1062,913 L1079,913 L1085,915 L1092,919 L1100,928 L1103,934 L1105,943 L1105,1072 L1102,1083 L1099,1088 L1091,1096 L1083,1100 L1079,1101 L1059,1098 L1059,1090 L1062,1071 L1064,1039 L1064,952 L1063,935 L1061,921 Z M175,913 L193,914 L190,947 L189,1008 L191,1062 L193,1085 L195,1094 L194,1101 L174,1101 L164,1097 L156,1090 L151,1082 L149,1075 L149,940 L151,933 L155,926 L165,917 Z M217,399 L211,404 L205,412 L197,429 L188,442 L181,450 L172,458 L161,466 L146,474 L142,475 L138,479 L134,481 L129,487 L129,493 L134,499 L142,505 L146,507 L148,507 L154,511 L159,513 L173,523 L187,537 L193,545 L196,551 L198,553 L205,568 L210,575 L215,580 L217,581 L222,581 L229,575 L234,568 L241,553 L252,537 L271,519 L280,513 L285,511 L287,509 L297,505 L305,499 L310,493 L310,487 L305,481 L301,479 L297,475 L293,474 L278,466 L260,452 L248,438 L242,429 L234,412 L228,404 L222,399 Z M218,426 L221,426 L226,437 L237,453 L256,472 L270,482 L285,490 L283,492 L267,500 L255,509 L237,527 L226,543 L221,554 L218,554 L213,543 L202,527 L184,509 L172,500 L156,492 L154,490 L169,482 L183,472 L202,453 L213,437 Z M1031,394 L1026,398 L1017,412 L1017,414 L1015,418 L1013,420 L1009,428 L999,441 L990,450 L978,459 L968,464 L966,466 L964,466 L958,469 L948,476 L944,481 L944,487 L945,489 L954,497 L972,506 L989,518 L1001,530 L1013,547 L1020,562 L1025,569 L1030,574 L1032,575 L1037,575 L1039,574 L1047,565 L1056,547 L1068,530 L1085,514 L1097,506 L1112,499 L1119,494 L1125,487 L1125,481 L1121,476 L1114,471 L1096,462 L1079,450 L1070,441 L1062,431 L1056,420 L1054,418 L1050,408 L1043,398 L1038,394 Z M1033,420 L1036,420 L1042,433 L1048,442 L1056,452 L1067,463 L1086,477 L1100,484 L1098,486 L1084,493 L1070,503 L1050,524 L1043,534 L1036,548 L1033,548 L1026,534 L1019,524 L999,503 L985,493 L971,486 L969,484 L983,477 L1002,463 L1013,452 L1021,442 L1027,433 Z M624,128 L617,134 L615,138 L611,142 L602,161 L589,180 L572,197 L563,204 L554,209 L552,211 L533,220 L529,224 L525,226 L520,231 L519,233 L519,238 L524,244 L535,252 L539,253 L549,258 L551,260 L554,261 L556,263 L565,268 L575,276 L586,287 L594,297 L599,306 L601,308 L602,311 L604,313 L610,327 L618,338 L624,343 L629,343 L635,338 L643,327 L649,313 L651,311 L652,308 L654,306 L659,297 L667,287 L678,276 L688,268 L697,263 L699,261 L702,260 L704,258 L714,253 L718,252 L729,244 L734,238 L734,233 L728,226 L724,224 L720,220 L701,211 L681,197 L664,180 L658,172 L653,163 L651,161 L642,142 L638,138 L636,134 L631,129 L629,128 Z M625,154 L628,154 L635,169 L647,187 L670,211 L688,224 L708,234 L708,237 L706,237 L696,242 L694,244 L689,246 L677,254 L665,264 L655,274 L645,286 L639,295 L628,317 L625,317 L614,295 L608,286 L598,274 L588,264 L576,254 L564,246 L547,237 L545,234 L565,224 L583,211 L602,192 L615,174 L616,171 L618,169 Z" fill-rule="evenodd"/>
      </svg>
      Bit Voyager
    </p>

    <p class="tagline">Helping you navigate the digital frontier</p>

    <p class="cycle-line">
      We build <span id="cycle-word" class="cycle-word"></span><span class="type-cursor"></span> for businesses.
    </p>

    <div class="cta-row">
      <a href="#contact" class="btn-primary">Launch a Project</a>
      <a href="#work" class="btn-ghost">See Our Work</a>
    </div>
  </div>

  <div class="scroll-indicator-wrap" aria-hidden="true">
    <div class="scroll-indicator"></div>
  </div>
</section>

<style>
  .hero-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 24px 160px;
    position: relative;
    overflow: hidden;
  }

  .star-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
  }

  .glow-orb {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
    filter: blur(90px);
  }

  .glow-cyan {
    width: 700px;
    height: 500px;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(ellipse, rgba(6,182,212,0.14) 0%, transparent 70%);
  }

  .glow-purple {
    width: 500px;
    height: 500px;
    bottom: 80px;
    right: -100px;
    background: radial-gradient(ellipse, rgba(124,58,237,0.1) 0%, transparent 70%);
  }

  .hero-content {
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  .hero-badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.72rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--text-muted);
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 100px;
    padding: 6px 16px;
    margin-bottom: 28px;
  }

  .badge-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--accent-cyan);
    box-shadow: 0 0 8px var(--accent-cyan);
    animation: pulse-dot 2s ease-in-out infinite;
    flex-shrink: 0;
  }

  @keyframes pulse-dot {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.5; transform: scale(0.7); }
  }

  .company-name {
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(3rem, 7vw, 5.5rem);
    font-weight: 700;
    color: var(--text-primary);
    letter-spacing: -0.03em;
    line-height: 1;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
  }

  .company-logo {
    height: 2.4em;
    width: auto;
    flex-shrink: 0;
    transform: translateY(-0.25em);
    filter: drop-shadow(0 0 12px rgba(6,182,212,0.3));
  }

  .tagline {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 2vw, 1.15rem);
    color: var(--text-muted);
    margin-bottom: 40px;
    margin-top: 0;
    letter-spacing: 0.01em;
  }

  .cycle-line {
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(1.2rem, 3vw, 1.7rem);
    font-weight: 500;
    color: var(--text-muted);
    margin-bottom: 48px;
  }

  .cycle-word {
    color: var(--accent-cyan);
    font-weight: 700;
  }

  .type-cursor {
    display: inline-block;
    width: 2px;
    height: 0.85em;
    background: var(--accent-cyan);
    margin: 0 1px;
    vertical-align: middle;
    animation: blink-cur 1s step-end infinite;
  }

  @keyframes blink-cur {
    0%, 100% { opacity: 1; }
    50%       { opacity: 0; }
  }

  .cta-row {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .scroll-indicator-wrap {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .scroll-indicator {
    width: 24px;
    height: 40px;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 12px;
    position: relative;
  }

  .scroll-indicator::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 8px;
    border-radius: 2px;
    background: var(--accent-cyan);
    animation: scrollDot 1.8s ease-in-out infinite;
  }

  @keyframes scrollDot {
    0% { opacity: 1; transform: translateX(-50%) translateY(0); }
    80% { opacity: 0; transform: translateX(-50%) translateY(14px); }
    100% { opacity: 0; transform: translateX(-50%) translateY(0); }
  }
</style>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const section = document.getElementById('home');
    const canvas = section.querySelector('.star-canvas');
    const ctx = canvas.getContext('2d');

    const STAR_COUNT = 120;
    const stars = [];

    function init() {
      canvas.width = section.offsetWidth;
      canvas.height = section.offsetHeight;
      stars.length = 0;
      for (let i = 0; i < STAR_COUNT; i++) {
        stars.push({
          x: Math.random() * canvas.width,
          y: Math.random() * canvas.height,
          r: Math.random() * 1.5 + 0.5,
          phase: Math.random() * Math.PI * 2,
          speed: Math.random() * 0.8 + 0.3,
        });
      }
    }

    function draw(t) {
      const sec = t * 0.001;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      for (const s of stars) {
        const alpha = 0.15 + 0.85 * (0.5 + 0.5 * Math.sin(sec * s.speed + s.phase));
        ctx.beginPath();
        ctx.arc(s.x, s.y, s.r, 0, Math.PI * 2);
        ctx.fillStyle = `rgba(220, 235, 255, ${alpha.toFixed(3)})`;
        ctx.fill();
      }
      requestAnimationFrame(draw);
    }

    init();
    window.addEventListener('resize', init);
    requestAnimationFrame(draw);

    // Typewriter word cycling
    const words = ['websites', 'enterprise apps', 'cloud infrastructure'];
    let wordIdx = 0;
    let charIdx = 0;
    let deleting = false;
    const wordEl = document.getElementById('cycle-word');

    function typeLoop() {
      const current = words[wordIdx];
      if (!deleting) {
        charIdx++;
        wordEl.textContent = current.slice(0, charIdx);
        if (charIdx === current.length) {
          setTimeout(() => { deleting = true; typeLoop(); }, 1800);
          return;
        }
        setTimeout(typeLoop, 70 + Math.random() * 50);
      } else {
        charIdx--;
        wordEl.textContent = current.slice(0, charIdx);
        if (charIdx === 0) {
          deleting = false;
          wordIdx = (wordIdx + 1) % words.length;
          setTimeout(typeLoop, 350);
          return;
        }
        setTimeout(typeLoop, 40);
      }
    }

    setTimeout(typeLoop, 600);
  });
</script>
